---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  destination:
    name: "in-cluster"
    namespace: observability
  sources:
    - repoURL: "https://prometheus-community.github.io/helm-charts"
      chart: kube-prometheus-stack
      targetRevision: 68.3.2
      helm:
        valuesObject:
          alertmanagers:
            alertmanagerSpec:
              storage:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn
          grafana:
            enabled: false
          prometheusOperator:
            admissionWebhooks:
              enabled: false
            tls:
              enabled: false
          prometheus:
            prometheusSpec:
              storageSpec:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn
                    resources:
                      requests:
                        storage: 50Gi
          thanos:
            thanosRuler:
              thanosRulerSpec:
                storage:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - Replace=true
